body{
	margin:0px;
}
.holder{
	width:100vw;
	height:100vh;
	background-color:hotpink;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}
.item-1{
	width:100px;
	height:100px;
	background-color:red;

}
.item{
	text-align:center;
	font-family:arial;
	padding:10px;
	box-sizing:border-box;
	box-shadow:0px 0px 20px black;
}